.to-read .have-read{
  display: flex;
  justify-content: center;
  overflow: auto;
}
.nav-title{
  margin-left: 2rem;
}

footer {
  position: fixed;
  display: flex;
  height: 50px;
  justify-content: center;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}